.advantages {
  background-color: #f2f2f2;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  padding-top: 119px;
  background-image: linear-gradient(174deg, #ffffff 0%, #ffffff 76px, #f2f2f2 76px);

  @media (min-width: @tablet-size) {
    font-size: 14px;
    padding-top: 125px;
    background-image: linear-gradient(174deg, #ffffff 0%, #ffffff 20%, #f2f2f2 20%);
  }

  @media (min-width: @desktop-size) {
    font-size: 18px;
    line-height: 30px;
    padding-top: 196px;
    background-image: linear-gradient(174deg, #ffffff 0%, #ffffff 25%, #f2f2f2 25%);
  }
}

.advantages svg {
  display: flex;
  padding: 0;
  height: auto;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 19px;
  font-size: 18px;
  line-height: 10px;

  @media (min-width: @desktop-size) {
    line-height: 30px;
    font-size: 30px;
    margin-bottom: 25px;
  }
}

.advantages__description {
  color: @base-color;
  margin: 0 auto;
  @media (min-width: @desktop-size) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.advantages__list {
  margin-bottom: 39px;
}

.advantages__item {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 38px;
  padding-right: 8px;
  padding-left: 8px;

  @media (min-width: @tablet-size) {
    margin-bottom: 41px;
    padding-left: 0;
  }

  &:last-child {
    @media (min-width: @tablet-size) {
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-size) {
    margin-bottom: 0;
    width: 281px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
  }
}

.advantages__image {
  margin: 0 auto;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-size: cover;
  width: 158px;
  height: 277px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
  }

  @media (min-width: @tablet-size) {
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-size: cover;
    width: 266px;
    height: 481px;
    position: absolute;
    bottom: 0;
    left: 22px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
    }
  }
}

.advantages__image-item {
  @media (min-width: @desktop-size) {
    margin-bottom: 55px;
  }
}

.advantages__item:first-child .advantages__image-item {
  display: none;

  @media (min-width: @desktop-size) {
    display: block;
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    width: 266px;
    height: 303px;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png")
    }
  }
}

.advantages__item:nth-child(2) .advantages__image-item {
  @media (min-width: @desktop-size) {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    width: 266px;
    height: 303px;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
    }
  }
}

.advantages__item:last-child .advantages__image-item {
  @media (min-width: @desktop-size) {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    width: 266px;
    height: 303px;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
    }
  }
}

.advantages__container {
  @media (min-width: @desktop-size) {
    margin-top: -120px;
  }
}

@media (min-width: @tablet-size) {
  .advantages__container {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }

  .advantages__list {
    width: 310px;
    box-sizing: border-box;
    margin-bottom: 41px;
  }

  .advantages__item {
    text-align: left;
  }
}

@media (min-width: @desktop-size) {
  .advantages__list {
    display: flex;
    justify-content: space-between;
    width: 940px;
  }

  .advantages__item {
    text-align: center;
  }

  .advantages__image--none {
    display: none;
  }
}

