.advantages {
  background-color: #f2f2f2;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  padding-top: 118px;

  @media (min-width: @tablet-size) {
    font-size: 14px;
    padding-top: 81px;
  }

  @media (min-width: @desktop-size) {
    font-size: 18px;
    line-height: 30px;
    padding-top: 118px;
  }
}

.advantages svg {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 19px;
  font-size: 18px;
  line-height: 10px;

  @media (min-width: @desktop-size) {
    line-height: 30px;
    font-size: 30px;
    margin-bottom: 25px;
  }
}

.advantages__description {
  color: @base-color;
  margin: 0 auto;
  @media (min-width: @desktop-size) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.advantages__list {
  margin-bottom: 39px;
}

.advantages__item {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 38px;
  padding-right: 8px;
  padding-left: 8px;

  @media (min-width: @tablet-size) {
    margin-bottom: 42px;
    padding-left: 0px;
  }

  &:last-child {
    @media (min-width: @tablet-size) {
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-size) {
    margin-bottom: 0;
    width: 281px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
  }
}

.advantages__image {
  margin: 0 auto;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  width: 158px;
  height: 277px;

  @media (min-width: @tablet-size) {
    background-image: url("../img/iphone-screen-3-tablet@2x.png");
    background-size: cover;
    width: 266px;
    height: 481px;
    position: absolute;
    bottom: 0;
    left: 22px;
  }
}

.advantage__image-item {
  @media (min-width: @desktop-size) {
    margin-bottom: 55px;
  }
}

.advantages__item:first-child .advantage__image-item {
  display: none;

  @media (min-width: @desktop-size) {
    display: block;
  }
}

.advantages__item:first-child .advantage__image-item {
  @media (min-width: @desktop-size) {
    background-image: url("../img/iphone-screen-1-desktop@2x.png");
    width: 266px;
    height: 303px;
    background-size: cover;
  }
}

.advantages__item:nth-child(2) .advantage__image-item {
  @media (min-width: @desktop-size) {
    background-image: url("../img/iphone-screen-2-desktop@2x.png");
    width: 266px;
    height: 303px;
    background-size: cover;
  }
}

.advantages__item:last-child .advantage__image-item {
  @media (min-width: @desktop-size) {
    background-image: url("../img/iphone-screen-3-desktop@2x.png");
    width: 266px;
    height: 303px;
    background-size: cover;
  }
}

.advantages__container {
  @media (min-width: @desktop-size) {
    margin-top: -120px;
  }
}

@media (min-width: @tablet-size) {
  .advantages__container {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }

  .advantages__list {
    width: 310px;
    box-sizing: border-box;
    margin-bottom: 41px;
  }

  .advantages__item {
    text-align: left;
  }
}

@media (min-width: @desktop-size) {
  .advantages__list {
    display: flex;
    justify-content: space-between;
    width: 940px;
  }

  .advantages__item {
    text-align: center;
  }

  .advantages__image--none {
    display: none;
  }
}

