.button {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
  border-radius: 25px;
  padding-top: 17px;
  padding-bottom: 14px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: none;
}

.button--download {
  border: 3px solid white;

  &:hover,
  &:focus {
    background-color: white;
    color: @base-pink;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }

  @media (min-width: @desktop-size) {
    font-size: 21px;
    line-height: 18px;
    padding-top: 14px;
    padding-bottom: 17px;
  }
}

.button--post {
  border: 3px solid @base-pink;
  color: @base-pink;
  background-color: @base-gray;

  &:hover,
  &:focus {
    color: white;
    background-color: @base-pink;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-size) {
    padding-top: 14px;
    padding-bottom: 16px;
  }
}

.button--cancel {
  color: @base-color;
  border: 3px solid @base-color;
  opacity: 0.1;

  &:hover,
  &:focus {
    color: @base-color;
    background-color: #f2f2f2;
    opacity: 0.3;
  }

  &:active {
    color: white;
    background-color: @base-color;
    opacity: 0.3;
  }

  @media (min-width: @tablet-size) {
    padding-top: 14px;
    padding-bottom: 16px;
  }
}

.button--form {
  text-transform: uppercase;
  color: white;
  background-color: #2aab6d;
  border: 2px solid #2aab6d;
  line-height: 30px;
  border-radius: 5px;

  &:hover,
  &:focus {
    color: white;
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #1c9b5e;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

@media (min-width: @tablet-size) {
  .button--form {
    width: 300px;
  }
}
