.caption {
  height: 396px;
  text-align: center;
  color: white;
  font-weight: lighter;
  margin: 0;

}

.caption__text {
  font-weight: lighter;
  font-size: 24px;
  margin: 0 auto;
  width: 230px;
}

@media (min-width: @tablet-size) {
  .caption {
    width: 330px;
    box-sizing: border-box;
    margin: 0 auto;
  }
}
