.checkboxes {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;

  @media (min-width: @tablet-size) {
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 53px;
    min-width: 620px;
  }

  @media (min-width: @desktop-size) {
    padding-bottom: 8px;
    padding-right: 0;
  }
}

.checkboxes__name {
  margin-bottom: 43px;
  width: 220px;

  @media (min-width: @tablet-size) {
      width: auto;
      padding-left: 37px;
      padding-right: 37px;
      margin-bottom: 48px;
    }
}

.checkboxes__list {
  margin: 0;

  @media (min-width: @desktop-size) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.checkboxes__item {
  padding-left: 70px;
  margin-bottom: 52px;

  @media (min-width: @tablet-size) {
    padding-left: 60px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-size) {
    box-sizing: border-box;
    min-width: 261px;

    &:nth-child(1) {
      order: -6;
    }

    &:nth-child(2) {
      order: -2;
    }

    &:nth-child(3) {
      order: -4;
    }

    &:nth-child(4) {
      order: -1;
    }

    &:nth-child(5) {
      order: -3;
      margin-right: 0;
    }

    &:nth-child(6) {
     margin-right: 0;
    }
  }
}


.checkboxes__item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.checkboxes__input + span::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -70px;
  width: 34px;
  height: 34px;
  border: 2px solid @darker-gray;

  @media (min-width: @tablet-size) {
    left: -60px;
  }
}

.checkboxes__input:hover + span::before,
.checkboxes__input:focus + span::before {
  border-color: black;
}

.checkboxes__input:active + span::before {
  border-color: @base-pink;
}

.checkboxes__input:checked + span::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -62px;
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: @tablet-size) {
    left: -52px;
  }
}
