.contacts {
  text-align: center;
}

.contacts__text {
  font-size: 24px;
  font-weight: lighter;
  color: @base-color;
  margin: 0 auto;
}

.contacts__title {
  margin: 0 0 5px;
}

.contacts__item {
  margin-bottom: 25px;
}

.contacts__item:last-child {
  margin: 0 0 35px;
}

.contacts__data {
  color: @base-pink;
  margin: 0;
}

.contacts__map {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top center, 0px 0px;
  background-size: 100% 33px, 100% 200px;
}

@media (min-width: @tablet-size) {
  .contacts__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__item {
    width: 250px;
  }

  .contacts__text {
    font-size: 40px;
    width: 375px;
    margin-bottom: 53px;
  }

  .contacts__data {
    font-size: 24px;
  }
}

@media (min-width: @desktop-size) {
  .contacts__item:nth-last-child(2) {
    order: 1;
  }

  .contacts__text {
    font-size: 50px;
  }
}

