.contacts {
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}

.contacts__text {
  font-size: 24px;
  font-weight: lighter;
  color: @base-color;
  margin: 0 0 40px;
}

.contacts__title {
  margin: 0 0 5px;
  padding-left: 18px;
}

.contacts__item {
  margin-bottom: 25px;
}

.contacts__item:last-child {
  margin: 0 0 35px;
}

.contacts__data {
  color: @base-pink;
  margin: 0;
}

