.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 320px;
}

@media (min-width: @tablet-size) {
  .container {
    max-width: @tablet-size;
  }
}

@media (min-width: @desktop-size) {
  .container {
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
