.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 130px;
}

.copyright__link {
  width: 26.943px;
  height: 34.09px;
}

.copyright__link path {
  fill: @base-pink;
}
