.downloading {
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  padding-top: 28px;
  padding-bottom: 29px;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: @tablet-size) {
    width: 330px;
    padding-bottom: 110px;
  }
}

.downloading__list {
  width: 206px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13px;

  @media (min-width: @tablet-size) {
    margin-bottom: 27px;
  }
}

.downloading__link {
  color: white;
  width: 46.21px;
  height: 56.753px;
}

.downloading__button {
  margin-bottom: 33px;

  @media (min-width: @tablet-size) {
    margin-bottom: 47px;
  }
}

.downloading__slogan {
  display: none;
  margin: 0;

  @media (min-width: @tablet-size) {
    display: block;
    font-size: 40px;
    line-height: 50px;
    font-weight: lighter;
    padding: 0 10px;
    margin-bottom: 28px;
  }
}

.downloading__description {
  width: 230px;
  margin: 0 auto;

  @media (min-width: @tablet-size) {
    font-size: 18px;
    line-height: 24px;
    font-weight: lighter;
    width: 100%;
  }

}




