.effect {
  display: none;
}

@media (min-width: @tablet-size) {
  .effect {
    display: block;
    font-size: 14px;
    line-height: 24px;
    padding-top: 59px;
    padding-bottom: 0px;
    margin-bottom: 79px;

    @media (min-width: @desktop-size) {
      background-color: @base-gray;
      font-size: 18px;
      line-height: 30px;
      padding-top: 24px;
      padding-bottom: 65px;
      margin-bottom: 0;
    }
  }

  .effect__container {
    display: flex;
    flex-direction: row;
  }

  .effect__image {
    width: 239px;
    height: 279px;
    position: relative;
    background-image: url("../img/icon-timer.svg");
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: @desktop-size) {
      width: 299px;
      height: 346px;
    }
  }

  .effect__image-container::before {
    position: absolute;
    content: "";
    width: 175px;
    height: 175px;
    top: 56px;
    left: 20px;
    border: 13px solid @base-pink;
    border-radius: 100%;

    @media (min-width: @desktop-size) {
      width: 224px;
      height: 224px;
      top: 70px;
      left: 23px;
      border: 15px solid @base-pink;
    }
  }

  .effect__image-container::after {
    position: absolute;
    content: "24";
    font-size: 96px;
    font-weight: bold;
    top: 139px;
    left: 63px;
    color: @base-pink;

    @media (min-width: @desktop-size) {
      font-size: 120px;
      top: 174px;
      left: 79px;
    }
  }

  .effect__title {
    margin: 0;
    margin-bottom: 7px;
    font-size: 30px;
    line-height: 36px;
    width: 170px;

    @media (min-width: @desktop-size) {
      width: 100%;
      margin-bottom: 21px;
    }
  }

  .effect__text {
    margin: 0;
    margin-bottom: 11px;

    @media (min-width: @desktop-size) {
      margin-bottom: 32px;
    }
  }

  .effect__link {
    color: @base-pink;
  }

  .effect__text-block {
    flex: 1;
    padding-left: 71px;
    padding-top: 39px;

    @media (min-width: @desktop-size) {
      padding-left: 67px;
      padding-top: 91px;
    }
  }
}
