.form__group {
  padding-right: 20px;
  padding-left: 20px;
}

.form__choose-wrapper {
  background-color: @base-gray;
  padding-top: 42px;
  padding-bottom: 42px;
}

.form__groups-wrapper {
  margin-bottom: 42px;
}

.form__caption {
  color: @base-pink;
  text-transform: uppercase;
}

.form__text {
  color: @base-color;
  font-size: 18px;
  line-height: 30px;
}

.form__text::placeholder {
  color: @base-color;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #e5e5e5;
}

.form__label {
  display: inline-block;
  padding-left: 22px;
  margin-bottom: 12px;
}

.form__secondary-caption {
  text-align: center;
}

.form__input-indents {
  padding-left: 17px;
  padding-right: 20px;
  padding-top: 22px;
  padding-bottom: 20px;
}

.form__textarea {
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  width: 100%;
  color: @base-color;
  font-size: 18px;
  line-height: 30px;
}

.form__comment {
  margin: 0;
  margin-bottom: 48px;
}

.form__note {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: @base-color;

  sup {
    color: @base-pink;
  }
}

.form__button {
  text-align: center;
}

.form__popup {
  text-align: center;
}

.form__radiobuttons {
  margin-bottom: 42px;
}

