.main-nav__list {
  text-align: center;
  margin-bottom: 0;
}

.main-nav__link {
  color: #ffffff;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;

  &:hover,
  &:focus {
    color: @base-pink;
  }

  &:active {
    opacity: 0.3;

    @media (min-width: @desktop-size) {
      color: rgba(255, 255, 255, 0.3);
      opacity: 1;
    }
  }

  @media (min-width: @tablet-size) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.main-nav__item {
  border-top: 1px solid #485461;
  border-bottom: 1px solid black;
}

@media (min-width: @desktop-size) {
  .main-nav__item {
    border: none;
    margin-right: 79px;
  }

  .main-nav__item:last-child {
    margin-right: 0;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    min-width: 620px;
  }
}
