.page-footer {
  text-align: center;
  padding-top: 42px;
  padding-bottom: 40px;
}

.page-footer--invisible {
  display: none;
}

.page-footer__container {

  @media (min-width: @tablet-size) {
    display: flex;
    flex-direction: row;
    padding-bottom: 74px;
    padding-top: 43px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-size) {
    padding-top: 43px;
    padding-bottom: 75px;
  }
}

.page-footer__logo {
  margin-bottom: 37px;
  width: 150px;
  height: 41px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;

  @media (min-width: @tablet-size) {
    width: 148px;
    margin-left: 0;
    margin-right: 0;
    transform: translateY(-10px);
    margin-bottom: 0;
  }

  @media (min-width: @desktop-size) {
    width: 147px;
    transform: translateY(-8px);
  }
}

.page-footer__logo--atrubut {
  position: relative;
  color: black;
  display: flex;

  &:hover,
  &:focus {
    color: @base-pink;
  }

  &:active {
    opacity: 0.3;
    color: black;
  }
}

.page-footer__logo--atrubut::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
}

.page-footer__logo-mobile {
  display: block;

  @media (min-width: @desktop-size) {
    display: none;
  }
}

.page-footer__logo-desktop {
  display: none;

  @media (min-width: @desktop-size) {
    display: block;
  }
}

.page-footer__social {
  margin-bottom: 40px;

  @media (min-width: @tablet-size) {
    margin: 0;
    transform: translateX(-10px);
  }

  @media (min-width: @desktop-size) {
    transform: translateX(0);
  }
}

@media (min-width: @tablet-size) {
  .page-footer--invisible {
    display: block;
  }

  .page-footer {
    padding: 0;
  }

  .page-footer__social {
    align-self: center;
  }
}
