.page-main__header {
  background-color: @base-color;
}

@media (min-width: @tablet-size) {
  .page-main__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .page-main__header {
    background-size: 100% 618px;
    background-position: 40% center;
  }

  .page-main__photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
  }
}

@media (min-width: @desktop-size) {
  .page-main__photos {
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .page-main__container {
    padding-left: 120px;
  }
}
