.page-footer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer--invisible {
  display: none;
}

.page-footer__container {
  min-height: 215px;

  @media (min-width: @tablet-size) {
    display: flex;
    flex-direction: row;
    padding-top: 63px;
    padding-bottom: 52px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-size) {
    padding-top: 30px;
  }
}

.page-footer__logo {
  margin-bottom: 37px;

  @media (min-width: @tablet-size) {
    margin: 0;
    display: flex;
    align-items: center;
  }

  svg {
    margin-top: -20px;
  }
}

.page-footer__social {
  margin-bottom: 40px;

  @media (min-width: @tablet-size) {
    margin: 0;
  }
}

@media (min-width: @tablet-size) {
  .page-footer--invisible {
    display: block;
  }

  .page-footer {
    padding: 0;
  }

  .page-footer__social {
    align-self: center;
  }
}
