.page-header {
  background-color: @base-color;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  text-transform: uppercase;

  @media (min-width: @desktop-size) {
    line-height: 18px;
    font-weight: normal;
    text-transform: none;
    background-color: hsla(0, 0%, 0%, 0.3);
    width: 100%;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }
}

.page-header__intro-container {
  @media (min-width: @tablet-size) {
    display: flex;
    max-width: 660px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
  }

  @media (min-width: @desktop-size) {
    padding-bottom: 13px;
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
}

.page-header__title-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__intro {
  background-color: @base-color;

  @media (min-width: @tablet-size) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 61px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-size) {
    background-image: none;
    background-color: transparent;
    padding-top: 80px;
  }
}

.page-header__downloading {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  font-weight: lighter;

  @media (min-width: @tablet-size) {
    padding-top: 89px;
    z-index: 1;
  }

  @media (min-width: @desktop-size) {
    padding-top: 109px;
    padding-left: 0;
    padding-right: 28px;
    box-sizing: border-box;
  }
}

.page-header__header {
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__logo--atr {
  position: relative;
  color: white;
}

.page-header__logo--atr::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.page-header__logo--atr:hover,
.page-header__logo--atr:focus {
  color: @base-pink;
}

.page-header__logo--atr:active {
  color: white;
  opacity: 0.3;
}

.page-header__logo {
  display: flex;
  z-index: 2;

  @media (min-width: @desktop-size) {
    transform: translateY(-9px);
  }
}

.page-header__logo-icon--mobile {
  display: block;

  @media (min-width: @tablet-size) {
    display: none;
  }
}

.page-header__logo-icon--tablet {
  display: none;

  @media (min-width: @tablet-size) {
    display: block;
  }

  @media (min-width: @desktop-size) {
    display: none;
  }
}

.page-header__logo-icon--desktop {
  display: none;

  @media (min-width: @tablet-size) {
    display: none;
  }

  @media (min-width: @desktop-size) {
    display: block;
  }
}

.page-header__toggle {
  text-decoration: none;
  color: #ffffff;
  width: 23.867px;
  height: 23.867px;
  align-self: flex-end;

  &:hover,
  &:focus {
    color: @base-pink;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__toggle::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.page-header__title {
  padding-top: 14px;
  padding-bottom: 24px;
  border-bottom: 1px solid black;
  background-color: @base-color;

  @media (min-width: @tablet-size) {
    padding-bottom: 42px;
    padding-top: 31px;
  }

  @media (min-width: @desktop-size) {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
  }
}

.page-header__container {
  display: flex;
  justify-content: space-between;
}

@media (min-width: @desktop-size) {
  .page-header__toggle {
    display: none;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 31px;
    padding-bottom: 30px;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .page-header__title {
    border: none;
  }

  .page-header__title .container {
    padding: 0;
  }
}
