.photo-filter {
  background-color: @base-gray;
  box-sizing: border-box;

  @media (min-width: @desktop-size) {
    background-color: white;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

.photo-filter__form {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 17px;
  padding-right: 22px;
  padding-left: 18px;
  box-sizing: border-box;

  @media (min-width: @tablet-size) {
    max-width: 660px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 57px;
    padding-bottom: 51px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: @desktop-size) {
    max-width: 940px;
    padding-left: 80px;
    padding-right: 60px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 62px;
    background-color: @base-gray;
  }
}

.photo-filter__image {
  margin-bottom: 38px;

  @media (min-width: @tablet-size) {
    height: 400px;
    width: 300px;
    margin-bottom: 0;
  }
}

.photo-filter__img-full {
  @media (min-width: @desktop-size) {
    width: 300px;
  }
}

.photo-filter__list {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
  width: 214px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: @tablet-size) {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    width: 240px;
  }

  @media (min-width: @desktop-size) {
    width: 100%;
  }
}

.photo-filter__buttons {
  background-color: @base-gray;
  text-align: center;
  padding-top: 38px;
  padding-bottom: 14px;
  border-top: 1px solid #dddfe0;

  @media (min-width: @tablet-size) {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 135px;
    padding-bottom: 0;
    padding-top: 0;
  }

  @media (min-width: @desktop-size) {
    flex-direction: row;
    min-height: auto;
  }
}

.photo-filter__post-btn {
  margin-bottom: 12px;

  @media (min-width: @tablet-size) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-size) {
    width: 183px;
  }
}

.photo-filter__item {
  padding-top: 5px;
  padding-bottom: 5px;

  @media (min-width: @tablet-size) {
    border-bottom: 1px solid @darker-gray;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 22px;
  }

  @media (min-width: @desktop-size) {
    width: 410px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.photo-filter__item:first-child {
  display: flex;
  flex-direction: column;
  width: 45px;

  @media (min-width: @tablet-size) {
    padding-top: 10px;
  }

  @media (min-width: @desktop-size) {
    padding-top: 0;
  }
}

.photo-filter__edit-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-bottom: 37px;
  color: #b5b9be;
  box-sizing: border-box;

  &:hover {
    color: #8d949b;
  }

  @media (min-width: @tablet-size) {
    margin-bottom: 0;
    color: @base-pink;
    width: 24px;
    height: 24px;
  }

  @media (min-width: @desktop-size) {
    width: 48px;
    height: 48px;
  }
}

.photo-filter__edit-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
}

.photo-filter__edit-btn--active {
  color: @base-pink;
}

.photo-filter__icon-crop {
  width: 48px;
  height: 48px;
  transform: translateX(-13px);

  @media (min-width: @tablet-size) {
    width: 22px;
    height: 22px;
    transform: translateX(0);
  }

  @media (min-width: @desktop-size) {
    width: 44px;
    height: 44px;
  }
}

.photo-filter__icon-fill {
  width: 48px;
  height: 48px;

  @media (min-width: @tablet-size) {
    width: 22px;
    height: 22px;
  }

  @media (min-width: @desktop-size) {
    width: 48px;
    height: 48px;
  }
}

.photo-filter__icon-contrast {
  width: 32px;
  height: 32px;
  transform: translateX(9px);

  @media (min-width: @tablet-size) {
    width: 17px;
    height: 17px;
    transform: translateX(2px);
  }

  @media (min-width: @desktop-size) {
    width: 33px;
    height: 33px;
  }
}

.photo-filter__item:nth-child(2) .photo-filter__range-wrapper {
  display: none;
}

.photo-filter__item:last-child .photo-filter__range-wrapper {
  display: none;
}


.photo-filter__range-wrapper {
  position: relative;
  width: 240px;
  margin-left: -25px;

  @media (min-width: 660px) {
    width: 202px;
    padding-bottom: 0;
    position: relative;
    transform: translateX(-17px);
  }

  @media (min-width: @desktop-size) {
    width: 290px;
    transform: translateX(2px);
  }
}

.photo-filter__wrapper {
  padding-top: 37px;

  @media (min-width: @tablet-size) {
    width: 300px;
    padding-right: 13px;
    padding-left: 27px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-size) {
    padding-right: 0;
    padding-left: 0;
    width: 410px;
  }
}

.photo-filter__scale {
  width: 240px;
  height: 2px;
  background-color: black;

  @media (min-width: @tablet-size) {
    display: inline-block;
    width: 100%;
  }

  @media (min-width: @desktop-size) {
    margin-left: -29px;
  }
}

.photo-filter__range-toggle {
  width: 10px;
  height: 10px;
  background: @base-gray;
  border: 2px solid @base-pink;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  top: -6px;
  left: 80%;

  &:active {
    background-color: @base-pink;
  }
}

@media (min-width: 660px) {
  .photo-filter__item:first-child .photo-filter__range-wrapper,
  .photo-filter__item:nth-child(2) .photo-filter__range-wrapper,
  .photo-filter__item:last-child .photo-filter__range-wrapper {
    display: flex;
  }

  .photo-filter__item:first-child,
  .photo-filter__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 275px;

    @media (min-width: @desktop-size) {
      width: 410px;
    }
  }
}
