.photo-post {
  font-size: 14px;
  color: @base-color;
  background-color: @base-gray;
  margin-bottom: 20px;
}

.photo-post__picture {
  margin-bottom: 25px;
}

.photo-post__author {
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

.photo-post__time {
  font-weight: lighter;
}

.photo-post__text {
  margin: 0;
  margin-bottom: 20px;
}

.photo-post__wrapper {
  padding-left: 18px;
}

.photo-post__footer {
  color: @base-pink;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
}
