.photo-post {
  font-size: 14px;
  line-height: 24px;
  color: @base-color;
  margin-bottom: 20px;
  position: relative;

  & img {
    vertical-align: bottom;
    width: 100%;
    height: auto;
  }

  @media (min-width: @tablet-size) {
    //min-height: 455px;
    width: 300px;
    display: flex;
    flex-direction: column;

    &--panorama {
      width: auto;
      margin-bottom: 49px;
      align-items: center;
    }

    &--panorama img {
      min-height: 510px;
    }
  }

  @media (min-width: @desktop-size) {
    margin-bottom: 50px;
    min-height: 555px;

    &--panorama img {
      min-height: 507px;
    }
  }
}

.photo-post__img-full {
  width: 100%;
  height: auto;
  overflow: hidden;
  flex-shrink: 0;
}

.photo-post__picture-content {
  max-width: 320px;
  padding-right: 20px;

  @media (min-width: @desktop-size) {
    max-width: 660px;
  }
}

.photo-post__descr {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background-color: @base-pink;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: @tablet-size) {
    top: 57px;
  }

  @media (min-width: @desktop-size) {
    top: 54px;
    right: 0;
  }
}

.photo-post__descr-wrapper {
  position: relative;
  width: 280px;
  height: auto;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-size) {
    width: 620px;
  }

  @media (min-width: @desktop-size) {
    width: 940px;
  }
}

.photo-post__author {
  font-weight: bold;
  color: @base-color;
  margin: 0;

  @media (min-width: @tablet-size) {
    order: -2;
  }
}

.photo-post__time {
  font-weight: lighter;
  font-size: 12px;
  text-transform: uppercase;
}

.photo-post__text {
  margin: 0;
  margin-bottom: 8px;

  @media (min-width: @tablet-size) {
    flex-grow: 1;
  }
}

.photo-post__wrapper {
  padding-top: 19px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 35px;
  background-color: @base-gray;
  box-sizing: border-box;

  &--panorama {
    padding-right: 0;
  }

  @media (min-width: @tablet-size) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    padding-left: 28px;
    padding-top: 24px;
    padding-bottom: 21px;
    padding-right: 31px;
    min-height: 155px;

    &--panorama {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 28px;
      padding-top: 24px;
      padding-bottom: 16px;
      padding-right: 28px;
      min-height: 121px;
    }

    @media (min-width: @desktop-size) {
      height: auto;

      &--panorama {
        min-width: 940px;
        min-height: 97px;
      }
    }
  }
}

@media (min-width: @tablet-size) {
  .photo-post__wrapper--panorama .photo-post__footer {
    padding-right: 0;
    margin-right: -5px;
    order: -1;
  }

  .photo-post__wrapper--panorama .photo-post__footer::before {
    right: 5px;
  }
}

.photo-post__footer {
  color: @base-pink;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  padding-left: 31px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 12px;
    left: 0;
    top: 6px;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-size) {
    padding-left: 0;
    min-width: 125px;

    &::before {
      left: auto;
      right: 0;
    }
  }
}
