.radiobuttons__title {
  width: 220px;
  margin-bottom: 39px;

  @media (min-width: @tablet-size) {
    width: auto;
    padding-right: 31px;
    padding-left: 31px;
    margin-bottom: 49px;
  }

  @media (min-width: @desktop-size) {
    white-space: nowrap;
  }
}

.radiobuttons__list {
  margin: 0;
}

.radiobuttons__item {
  padding-left: 73px;
  margin-bottom: 45px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-size) {
    padding-left: 57px;
  }

  @media (min-width: @desktop-size) {
    padding-left: 80px;
  }
}

.radiobuttons__item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.radiobuttons__input + span::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -70px;
  width: 34px;
  height: 34px;
  border: 2px solid @darker-gray;
  border-radius: 100%;

  @media (min-width: @tablet-size) {
    left: -58px;
  }
}

.radiobuttons__input:hover + span::before,
.radiobuttons__input:focus + span::before {
  border-color: black;
}

.radiobuttons__input:active + span::before {
  border-color: @base-pink;
}

.radiobuttons__input:checked + span::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -59px;
  width: 16px;
  height: 16px;
  background-color: @base-pink;
  border-radius: 100%;

  @media (min-width: @tablet-size) {
    left: -47px;
  }
}
