.reviews {
  text-align: center;
  padding-top: 42px;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: @tablet-size) {
    font-size: 18px;
    line-height: 30px;
    padding-top: 19px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-size) {
    padding-top: 185px;
    margin-bottom: 0;
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }
}

.reviews__list {
  margin-bottom: 33px;

  @media (min-width: @tablet-size) {
    margin-bottom: 36px;
  }
}

.reviews__item {
  margin: 0;

  @media (min-width: @tablet-size) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media (min-width: @desktop-size) {
    padding-left: 128px;
    padding-right: 128px;
  }
}

.reviews__author-name {
  margin: 0;
  margin-bottom: 13px;
  font-size: 18px;

  @media (min-width: @tablet-size) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-size) {
    font-size: 24px;
  }
}

.reviews__author-character {
  display: none;
  font-size: 18px;
  font-weight: normal;

  @media (min-width: @tablet-size) {
    display: block;
    font-size: 14px;
    line-height: 30px;
  }

  @media (min-width: @desktop-size) {
    font-size: 18px;
  }
}

.reviews__text {
  margin: 0;

  @media (min-width: @tablet-size) {
    margin-bottom: 34px;
  }
}

.reviews__text::before {
  @media (min-width: @desktop-size) {
    position: absolute;
    content: "";
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    width: 79px;
    height: 64px;
    top: 72px;
    left: 46%;
  }
}

.reviews__prev,
.reviews__next {
  display: none;

  @media (min-width: @desktop-size) {
    display: block;
    border: none;
    background-color: transparent;
    position: absolute;
  }
}

.reviews__prev:hover path,
.reviews__prev:focus path,
.reviews__next:hover path,
.reviews__next:focus path {
  @media (min-width: @desktop-size) {
    fill: #283645;
    cursor: pointer;
  }
}

.reviews__prev:active path,
.reviews__next:active path {
  @media (min-width: @desktop-size) {
    fill: @base-gray;
  }
}

.reviews__prev {
  @media (min-width: @desktop-size) {
    width: 24px;
    height: 42px;
    top: 212px;
    left: 13px;
  }
}

.reviews__next {
  @media (min-width: @desktop-size) {
    position: absolute;
    width: 24px;
    height: 42px;
    top: 212px;
    right: 24px;
  }
}
