.social__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 176px;
}

.social__item {
  border: 2px solid @darker-gray;
  border-radius: 100px;
  width: 50px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link {
  width: 20px;
  height: 20px;
}

.social__link path {
  fill: @base-pink;
}
